.search-bar{border:1px solid lightgray;border-radius:5px;padding:1rem}.search-bar form{display:flex;flex-direction:column}.image-list{columns:6 200px;column-gap:10px}.image-show{width:100%;margin-bottom:.5rem}
